<mat-toolbar color="primary">
    <span class="example-spacer"></span>
    <span>Pressura</span>
    <span class="example-spacer"></span>
</mat-toolbar>


<div class="login-container">

    <div fxLayout="column" fxFlex="20"></div>
        <div fxLayout="column" fxFlex = "60" >
        <div fxLayout="row" fxLayoutAlign="center center" >
            <mat-tab-group  mat-align-tabs="center"  color="primary"  backgroundColor="warn" class="mat-tabs" >
                <mat-tab label="Log in"> 
                    <mat-card class="light-color">
                        <mat-card-content>
                            <form [formGroup]="formSign" (ngSubmit)="onSubmitLogin()">
                                <div fxLayout="column" >
                                    <div fxLayout="row">
                                        <p><strong>Correo Electronico:</strong></p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su correo aqui...</mat-label>
                                        <input matInput class="form-control" formControlName="email" placeholder="pat@example.com">
                                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                    </mat-form-field>

                                    <div fxLayout="row">
                                        <p> <strong>Contraseña:</strong> </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su contraseña aqui...</mat-label>
                                        <input matInput class="form-control" formControlName="password" [type]="hide ? 'password' : 'text'">
                                        <button  type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>


                                </div>

                                <div fxLayout="column" fxLayoutAlign="space-around center" >

                                    <button mat-raised-button color="warn" type="submit">INGRESAR</button>
                                    <div class="paddingontop">
                                        <button mat-raised-button color="primary" type="button" (click)="googleLogin()" >
                                            INGRESA CON GOOGLE 
                                        </button>
                                    </div>
                                </div>
                                
                            </form>
                           
                            
                        </mat-card-content>
                        
                    </mat-card>
                </mat-tab>
                <mat-tab label="Sign in"> 
                    <mat-card class="light-color">
                        <mat-card-content>
                            <form [formGroup]="formReg" (ngSubmit)="onSubmitRegister()">
                                <div fxLayout="column" >

                                    <div fxLayout="row">
                                        <p><strong>Nombre Completo:</strong></p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su nombre aqui...</mat-label>
                                        <input matInput placeholder="Karen Hernandez Rebollar">
                                    </mat-form-field>

                                    <div fxLayout="row">
                                        <p><strong>Correo Electronico:</strong></p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su correo aqui...</mat-label>
                                        <input matInput class="form-control" formControlName="email" placeholder="pat@example.com">
                                        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
                                    </mat-form-field>

                                    <div fxLayout="row">
                                        <p> <strong>Contraseña:</strong> </p>
                                    </div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Ingrese su contraseña aqui...</mat-label>
                                        <input matInput class="form-control" formControlName="password" [type]="hide ? 'password' : 'text'">
                                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Confirmar Contraseña</mat-label>
                                        <input matInput [type]="hide ? 'password' : 'text'">
                                        <button type="button" mat-icon-button matSuffix (click)="hide = !hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>

                                    <div fxLayout="column" fxLayoutAlign="space-around center" >

                                        <button mat-raised-button color="warn" type="submit">INGRESAR</button>
                                        <div class="paddingontop">
                                            <button mat-raised-button color="primary" type="button" (click)="googleLogin()" >
                                                INGRESA CON GOOGLE 
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                
                            </form>
                           
                            
                        </mat-card-content>
                        
                    </mat-card>
                </mat-tab>
              </mat-tab-group>
        </div>
    
    </div>
    <div fxLayout="column" fxFlex="20"></div>
    
</div>



