$primary: rgb(31, 204, 176);
$light-w: rgb(242, 242, 242);
$secondary: rgb(26, 26, 26);

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    width: auto;
}

.primary{
    color: $light-w;
    background-color: $primary;
}

.secondary{
    color: $primary;
    background-color: $secondary;
}


.example-spacer{
    flex: 1 1 auto;
}

.light-color{
    background-color: white;
}

.login-container{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    height: 90vh;
    display: flex;
    justify-content: center;
}

// .mat-tabs{
//     background-color: white;
// }

.paddingontop{
    padding-top: 15px;
}