$primary: rgb(31, 204, 176);
$light-w: rgb(242, 242, 242);
$secondary: rgb(26, 26, 26);

.red{
    background-color: red;
}
.example-spacer {
    flex: 1 1 auto;
}
.light-blue{
    background-color: $secondary;
    color: $primary;
}

